<!-- Add your content of head and header -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="description" name="description" />
    <meta name="google" content="notranslate" />

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no" />

    <link href="./static/assets/apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="./static/assets/favicon.ico" rel="icon" />

    <title>Digitalized VAT Collector</title>

    <link href="./static/css/index.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Add your content of header -->
    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="navbar-collapse">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a
                  href="#contact-section-container"
                  title=""
                  class="btn btn-default navbar-btn"
                  >Contact Us</a
                >
              </li>
              <li>
                <a href="#" title="" class="btn btn-success">Login</a>
              </li>
              <!-- <li>
                <p>
                    <a href="./components.html" class="btn btn-default navbar-btn" >Components</a>
                </p>
            </li> -->
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Add your site or app content here -->
    <div
      class="background-image-container white-text-container"
      style="background-image: url('./static/assets/images/vat2.jpg')"
    >
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1 style="color: black">Digitalized VAT Collector</h1>
            <p class="h3" style="color: black">
              We make sure Your paid VAT goes to the hand of Government
            </p>
            <br /><br /><br /><br /><br /><br />
            <br /><br /><br />
            <br /><br />
            <br /><br /><br />
            <!-- <a
              href="#contact-section-container"
              class="btn btn-primary btn-lg"
              title=""
              style="color: black"
              >Get in touch</a -->
          </div>
        </div>
      </div>
    </div>

    <div class="section-container">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-12 section-container-spacer">
            <h2 class="text-center">
              Consumer's a Tool to Eradicate VAT Evasion
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <div class="fa-container">
              <i class="fa fa-comment-o fa-3x" aria-hidden="true"></i>
            </div>
            <h3 class="text-center">Commitment</h3>
            <p>
              An unified system of bookkeeping & VAT collection will be
              implemented which will make the whole process more easy,
              convenient & universal.
            </p>
          </div>

          <div class="col-xs-12 col-md-4">
            <div class="fa-container">
              <i class="fa fa-heart-o fa-3x" aria-hidden="true"></i>
            </div>
            <h3 class="text-center">Mission</h3>
            <p>
              Digitalizing VAT (Mushak) collection system by developing an App,
              making the process more accessible to every kind of Business
              without any need of heavy and expensive computing system .
            </p>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="fa-container">
              <i class="fa fa-bell-o fa-3x" aria-hidden="true"></i>
            </div>
            <h3 class="text-center">Vision</h3>
            <p>
              Increasing the amount of VAT revenue that Government collects from
              the old and outdated paper based system by introducing our
              "Digital Mushak" in order to perform healthy development of our
              beloved <span style="color: green">BAN</span
              ><span style="color: red">GLA</span
              ><span style="color: green">DESH</span>.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="section-container section-half-background-image-container">
      <div
        class="image-column"
        style="background-image: url('./static/assets/images/vat1.jpg')"
      ></div>
      <div class="container">
        <div class="row">
          <div class="section-label reveal">
            <p></p>
          </div>
          <div class="col-md-8 col-md-offset-6 text-column">
            <h2>Digital VAT Collector</h2>
            <h3>Back Story</h3>
            <p>
              According to National Board of Revenue (NBR), "সরকারি বাজেটের
              প্রায় ৮৫% আসে জাতীয় রাজস্ব বোর্ডের আয় হতে। জাতীয় রাজস্ব বোর্ডের
              আয়ের প্রায় ৫৬% আসে আমদানি ও স্থানীয় পর্যায়ের ভ্যাট থেকে। আর এর
              সবটুকুই আসে জনগণের ক্রয়ের সময় পরিশোধিত মূল্য হতে."
            </p>
            <p>
              But as the "Mushak" VAT itself is an indirect vat and due to the
              lack of honesty, urgency & seriousness of the business owners a
              large amount of VAT (mushak) can't be collected.
              <br />
              At maximum times they don't even provide a Mushak receipt to the
              customer and that makes the current VAT collection system more
              vulnerable to VAT evasion. What the current system advises us to
              do in these situation? They say this- "ভোক্তার দায়িত্ব একটিই, তা
              হলো ক্রয়ের পর চালান চেয়ে নেয়া ..... চালান না নিলে আপনার দেয়া ভ্যাট
              সরবকারের কোষাগারে জমা হবে না। সেটি বিক্রেতার লাভকে বাড়াবে।".
            </p>
            <p>
              But if the proposed system is implemented, then the customer can
              force the seller to provide a Digital Mushak invoice, which will,
              drastically increase the amount of VAT revenue of the Government.
              <br />
              <br />
              <b> Reference: </b>
              <mark>
                <a
                  href="http://nbrelearning.gov.bd/lessondetails/লেসন-৩-ভোক্তা-কেন-ভ্যাট-দেবেন"
                  >ভোক্তা কেন ভ্যাট দেবেন</a
                >
              </mark>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="section-container">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-12 section-container-spacer">
            <h2 class="text-center">The Team</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <img
              src="./static/assets/images/arafat4.jpg"
              alt=""
              class="img-responsive"
            />
            <h3 class="text-center">Mahabub Alam Arafat</h3>
            <p>
              <b>
                BSc in Mechanical Engineering,<br />
                CUET <br />
                Full Stack Web Developer <br />(Self Taught) <br
              /></b>
            </p>
          </div>

          <div class="col-xs-12 col-md-3">
            <img
              src="./static/assets/images/maidul.jpg"
              alt=""
              class="img-responsive"
            />
            <h3 class="text-center">Maidul Hasan</h3>
            <p>
              <b>
                BSc in Mechanical Engineering,<br />
                CUET <br />
                Python Programmer, AI Enthusiast <br />
                ML Engineer (Self Taught)
              </b>
            </p>
          </div>
          <div class="col-xs-12 col-md-3">
            <img
              src="./static/assets/images/moinul34.jpg"
              alt=""
              class="img-responsive"
            />
            <h3 class="text-center">Moinul Hasan</h3>
            <p>
              <b>
                BSc in EEE, CUET <br />
                Python Programmer, AI Enthusiast <br />
                ML Engineer (Self Taught)
              </b>
            </p>
          </div>
          <div class="col-xs-12 col-md-3">
            <img
              src="./static/assets/images/mueid.jpg"
              alt=""
              class="img-responsive"
            />
            <h3 class="text-center">Abdul Mueid</h3>
            <p>
              <b>
                BSc in CSE, CUET <br />
                Android Developer</b
              >
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="">
      <div class="container-fluid">
        <div class="row map-container">
          <div id="map">
          </div>
          <div class="col-xs-10 col-md-4 contact-block-container reveal">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <h3>E-mail</h3>
                <p>digitalmushakbd@gmail.com</p>
              </div>

              <div class="col-xs-12 col-sm-6">
                <h3>Address</h3>
                <p>Kaptai, Highway রাউজান পাহাড়তলী সড়ক, Chattogram 4349</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3687.1248196540196!2d91.96886514979306!3d22.46194328516736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30ad2fca34ae5549%3A0x35c88a37b3e90e97!2sChittagong%20University%20of%20Engineering%20and%20Technology!5e0!3m2!1sen!2sbd!4v1614527944510!5m2!1sen!2sbd"
      width="1600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>

    <div class="section-container" id="contact-section-container">
      <div class="container contact-form-container">
        <div class="row">
          <div class="col-xs-12 col-md-offset-2 col-md-8">
            <div class="section-container-spacer">
              <h2 class="text-center">Get in touch</h2>
            </div>
            <form action="submit_form" method="POST">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      name="name"
                      id="name"
                      class="form-control"
                      placeholder="Name"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="email"
                      name="email"
                      id="email"
                      class="form-control"
                      placeholder="Email"
                    />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <textarea
                  class="form-control"
                  name="message"
                  rows="3"
                  placeholder="Enter your message"
                ></textarea>
              </div>

              <div class="form-group">
                <label class="checkbox-inline">
                  <input
                    type="checkbox"
                    id="inlineCheckbox1"
                    value="option1"
                  />Email me a copy
                </label>
                <label class="checkbox-inline">
                  <input
                    type="checkbox"
                    id="inlineCheckbox2"
                    value="option2"
                  />I am a human
                </label>
              </div>

              <button type="submit" class="btn btn-primary">
                Send message
              </button>
              <a href="" class="btn btn-default">Reset</a>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
        googleMapInit();
        scrollToAnchor();
        scrollRevelation("reveal");
      });
    </script>

    <footer class="footer-container white-text-container">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h4>About us</h4>
            <p>
              We are a team of Some Kids with Big Dreams in their eyes to
              Dedicate Their Life for the betterment of our beloved
              <span style="color: green">BAN</span
              ><span style="color: red">GLA</span
              ><span style="color: green">DESH</span>.
            </p>
          </div>

          <div class="col-md-4">
            <h4>Do you like ? Share this !</h4>
            <div>
              <p>
                <a href="https://www.twitter.com" class="fa-icon" title="">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="https://www.facebook.com" class="fa-icon" title="">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com" class="fa-icon" title="">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </p>
            </div>
            <div>
              <p>
                <small>© Digital Mushok Team 2021</small>
              </p>
            </div>
          </div>

          <div class="col-md-4">
            <h4>Subscribe to newsletter</h4>

            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control footer-input-text" />
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default btn-newsletter">
                    OK
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
        navbarToggleSidebar();
      });
    </script>

    <script type="text/javascript" src="./static/js/index.js"></script>
  </body>
</html>
